bootcampCRUD67/src/jaxws/UserServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://bootcamp.com/" name="UserServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://bootcamp.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://bootcamp.com/" schemaLocation="UserServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="uploadPhoto">
    <part name="parameters" element="tns:uploadPhoto"/>
  </message>
  <message name="uploadPhotoResponse">
    <part name="parameters" element="tns:uploadPhotoResponse"/>
  </message>
  <message name="SQLException">
    <part name="fault" element="tns:SQLException"/>
  </message>
  <message name="addFriend">
    <part name="parameters" element="tns:addFriend"/>
  </message>
  <message name="addFriendResponse">
    <part name="parameters" element="tns:addFriendResponse"/>
  </message>
  <message name="deleteUser">
    <part name="parameters" element="tns:deleteUser"/>
  </message>
  <message name="deleteUserResponse">
    <part name="parameters" element="tns:deleteUserResponse"/>
  </message>
  <message name="createUser">
    <part name="parameters" element="tns:createUser"/>
  </message>
  <message name="createUserResponse">
    <part name="parameters" element="tns:createUserResponse"/>
  </message>
  <message name="likePhoto">
    <part name="parameters" element="tns:likePhoto"/>
  </message>
  <message name="likePhotoResponse">
    <part name="parameters" element="tns:likePhotoResponse"/>
  </message>
  <message name="readUser">
    <part name="parameters" element="tns:readUser"/>
  </message>
  <message name="readUserResponse">
    <part name="parameters" element="tns:readUserResponse"/>
  </message>
  <message name="updateUser">
    <part name="parameters" element="tns:updateUser"/>
  </message>
  <message name="updateUserResponse">
    <part name="parameters" element="tns:updateUserResponse"/>
  </message>
  <portType name="UserServiceInterface">
    <operation name="uploadPhoto">
      <input wsam:Action="http://bootcamp.com/UserServiceInterface/uploadPhotoRequest" message="tns:uploadPhoto"/>
      <output wsam:Action="http://bootcamp.com/UserServiceInterface/uploadPhotoResponse" message="tns:uploadPhotoResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://bootcamp.com/UserServiceInterface/uploadPhoto/Fault/SQLException"/>
    </operation>
    <operation name="addFriend">
      <input wsam:Action="http://bootcamp.com/UserServiceInterface/addFriendRequest" message="tns:addFriend"/>
      <output wsam:Action="http://bootcamp.com/UserServiceInterface/addFriendResponse" message="tns:addFriendResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://bootcamp.com/UserServiceInterface/addFriend/Fault/SQLException"/>
    </operation>
    <operation name="deleteUser">
      <input wsam:Action="http://bootcamp.com/UserServiceInterface/deleteUserRequest" message="tns:deleteUser"/>
      <output wsam:Action="http://bootcamp.com/UserServiceInterface/deleteUserResponse" message="tns:deleteUserResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://bootcamp.com/UserServiceInterface/deleteUser/Fault/SQLException"/>
    </operation>
    <operation name="createUser">
      <input wsam:Action="http://bootcamp.com/UserServiceInterface/createUserRequest" message="tns:createUser"/>
      <output wsam:Action="http://bootcamp.com/UserServiceInterface/createUserResponse" message="tns:createUserResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://bootcamp.com/UserServiceInterface/createUser/Fault/SQLException"/>
    </operation>
    <operation name="likePhoto">
      <input wsam:Action="http://bootcamp.com/UserServiceInterface/likePhotoRequest" message="tns:likePhoto"/>
      <output wsam:Action="http://bootcamp.com/UserServiceInterface/likePhotoResponse" message="tns:likePhotoResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://bootcamp.com/UserServiceInterface/likePhoto/Fault/SQLException"/>
    </operation>
    <operation name="readUser">
      <input wsam:Action="http://bootcamp.com/UserServiceInterface/readUserRequest" message="tns:readUser"/>
      <output wsam:Action="http://bootcamp.com/UserServiceInterface/readUserResponse" message="tns:readUserResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://bootcamp.com/UserServiceInterface/readUser/Fault/SQLException"/>
    </operation>
    <operation name="updateUser">
      <input wsam:Action="http://bootcamp.com/UserServiceInterface/updateUserRequest" message="tns:updateUser"/>
      <output wsam:Action="http://bootcamp.com/UserServiceInterface/updateUserResponse" message="tns:updateUserResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://bootcamp.com/UserServiceInterface/updateUser/Fault/SQLException"/>
    </operation>
  </portType>
  <binding name="UserServicePortBinding" type="tns:UserServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="uploadPhoto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="addFriend">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="createUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="likePhoto">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="readUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="UserServiceService">
    <port name="UserServicePort" binding="tns:UserServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

